/* Stylizacja ciała strony */
body {
    background-color: #121212;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s, color 0.5s, transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

/* Stylizacja trybu ciemnego */
body.dark-mode {
    background-color: #121212;
    color: white;
}

/* Stylizacja canvas */
canvas {
    border: 1px solid #ccc;
    display: block;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Dodany cień wokół canvas */
    border-radius: 10px; /* Zaokrąglone rogi canvas */
}

/* Stylizacja panelu z kontrolkami */
.controls {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

/* Stylizacja przycisków */
.controls button {
    margin: 8px;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px; /* Zaokrąglone rogi przycisków */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s ease-in-out;
    display: inline-block;
}

.controls button:hover {
    opacity: 0.8;
    transform: scale(1.05); /* Powiększenie przycisku po najechaniu */
}

.controls button:active {
    transform: scale(0.95); /* Lekko zmniejsza przycisk po kliknięciu */
}

/* Stylizacja przycisków w trybie ciemnym */
body.dark-mode .controls button {
    background-color: #333;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Stylizacja przycisków w trybie jasnym */
body:not(.dark-mode) .controls button {
    background-color: #fff;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Animacja przejścia przy zmianie trybu */
body.dark-mode {
    background-color: white;
    color: black;
    transition: background-color 0.5s ease, color 0.5s ease;
}

button.unique {
    background-color: aqua;
}