body {
    background-color: #ADD8E6;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#gameArea {
    position: relative;
    width: 400px;
    height: 600px;
    background-color: #87CEFA;
    border: 2px solid #1E90FF;
    overflow: hidden;
}

.snowflake, .icicle {
    position: absolute;
    top: -20px;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 50%;
    opacity: 0.8;
    border: 1px solid black;
}

.icicle {
    width: 10px;
    height: 40px;
    background-color: #ADD8E6;
}

#glove {
    position: absolute;
    bottom: 10px;
    width: 50px;
    height: 50px;
    background-color: #FF6347;
    border-radius: 10px;
}

#expansionItem {
    position: absolute;
    top: -30px;
    width: 30px;
    height: 30px;
    background-color: #FFD700;
    border-radius: 5px;
    display: none;
}

#scoreboard {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: #fff;
}

#timer {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #fff;
}
.hidden {
    opacity: 0;
    pointer-events: none; /* Zapobiega interakcji z przyciskiem */
    transition: opacity 0.3s ease;
}