body {
    background-color: #87CEEB; /* Kolor tła */
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden; /* Ukryj przewijanie strony */
}

.controls {
    text-align: center;
    padding: 10px;
}

.controls button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
}

canvas {
    display: block;
    margin: 0 auto;
    border: 2px solid #333;
    background-color: #fff; /* Tło dla planszy */
}
