:root {
    --button-color: #ff00bb;
    --button-active-color: rgb(66, 0, 58);
    --button-hover-color: #3e49a8;
    --highlight-bg-color: rgba(30, 33, 180, 0.2);
    --shadow-color: rgba(13, 0, 255, 0.177);
    --sticky-header-background-color:rgba(30, 30, 30, 0.95);
    --text-color:#ffffff;
    --secondary-text-color:#000000;
    --tertiary-text-color: #717171;
    --border-color:#670059;
    --primary-background-color:#0e0e0e;
    --secondary-background-color:#292929;
    --tertiary-background-color:rgba(0, 0, 0, 0.7);
    --quaternary-background-color:rgba(179, 179, 179, 0.767);
    --background-image: url('https://thumbs.dreamstime.com/b/digital-artwork-features-vibrant-hello-world-neon-text-surrounded-soft-bubble-like-clouds-captures-dreamy-glowing-344915658.jpg');
    --parallax-image: url('../img/perun4.png');
}
