:root {
    --sticky-header-background-color:rgba(204, 204, 204, 0.95);
    --text-color:#000000;
    --secondary-text-color:#ffffff;
    --tertiary-text-color: #747474;
    --quaternary-text-color: #ffffff;
    --primary-background-color:#dcdcdc;
    --secondary-background-color:#a5a5a5;
    --tertiary-background-color:rgba(196, 195, 195, 0.7);
    --quaternary-background-color:rgb(184, 184, 184);
}
